body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

small {
    font-size: 0.8em;
    color: #555;
    display: block;
    margin-top: 5px;  /* figure out why this is not working properly*/
    text-align: center;
    margin-bottom: 30px;  
}

form label {
    display: block;
    margin-bottom: 8px; 
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;  
}

form button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

.output {
    margin-top: 40px;
}

.output h2 {
    margin-bottom: 10px;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
